@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(129deg, rgba(255, 255, 0, 1) 0%, rgba(114, 103, 213, 1) 48%, rgba(238, 130, 238, 1) 100%);
}