@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(57deg, rgba(17, 74, 206, 1) 0%, rgba(229, 43, 43, 1) 100%);
}